<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">

<head>
    <title th:fragment="titulo">Vista Eliminar Proveedor</title>
</head>

<body>
    <div class="container" th:fragment="content">
        <h1 class="text-center mt-2 mb-2">Eliminacion de Proveedor</h1>

        <form th:action="@{/proveedor/eliminar}" method="post" class="text-center">

            <input type="hidden" name="idProveedor" th:value="${idProveedor}">
            <div class='p-3 mb-2 bg-danger text-white col-8 offset-2 text-center' role='alert' id='alerta'>
                <h3 th:text="|Desea eliminar el Proveedor:  ${nombreProveedor} ${apellidoProveedor}?|"></h3>
            </div>

           <div class="form-group ">
                <input type="submit" class="btn btn-danger" value="Eliminar">
                <a class="btn btn-primary" href="/proveedor/index" role="button">Cancelar</a>
           </div>

        </form>
    </div>
</body>

</html>