<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/layouts/layout::plantilla">

<head>
    <title th:fragment="titulo">VISTA LISTAR PROVEEDORES</title>
</head>

<body>
    <div class="container" th:fragment="content">
        <h1 class="text-center mt-2 mb-2">LISTADO DE PROVEEDORES</h1>
        <h2 th:if="${items.size()==0}" style="margin-top: 35px; text-align: center;">No hay datos para mostrar</h2>

        <div style="text-align: right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarProveedor">Agregar
                Nuevo</button>
        </div>
        <hr>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table border border-dark" id="datos" th:if="${items.size()>0}" style="color: black; text-align: center; width: 99%; float: none; margin-left: 1%">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DUI</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="i:${items}">
                    <td th:text="${i.nombreProveedor}"></td>
                    <td th:text="${i.apellidoProveedor}"></td>
                    <td th:text="${i.duiProveedor}"></td>
                    <td th:text="${i.direccionProveedor}"></td>
                    <td th:text="${i.telefonoProveedor}"></td>
                    <td th:text="${i.correoProveedor}"></td>
                    <td>
                        <a name="editar" id="editar" class="btn btn-primary" th:href="@{'/proveedor/modificar/' + ${i.idProveedor}}" role="button">Editar</a>
                    </td>
                    <td>
                        <form th:action="@{vistaEliminar}" method="post">
                            <input type="hidden" name="option" value="eliminar">
                            <input type="hidden" name="idProveedor" th:value="${i.idProveedor}">
                            <input type="hidden" name="nombreProveedor" th:value="${i.nombreProveedor}">
                            <input type="hidden" name="apellidoProveedor" th:value="${i.apellidoProveedor}">
                            <input type="submit" value="Eliminar" class="btn btn-danger">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <!--MODAL AGREGAR PROVEEDOR-->
        <div class="modal fade" id="agregarProveedor">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!--MODAL HEADER-->
                    <div class="modal-header p-3 mb-2 bg-dark text-white">
                        <h6 class="modal-title">NUEVO PROVEEDOR</h6>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <!--MODAL BODY-->
                    <div class="modal-body ">
                        <form th:action="@{/proveedor/agregar}" method="post" class="text-center">
                        <div class="form-group text-left">
                            <label>Nombre:</label>
                            <input type="text" class="form-control border border-dark" id="proveedor" name="nombreProveedor"
                                autocomplete="off" placeholder="Digite el nombre" required autofocus>
                        </div>
                        <div class="form-group text-left">
                            <label>Apellido:</label>
                            <input type="text" class="form-control border border-dark" id="proveedor" name="apellidoProveedor"
                                autocomplete="off" placeholder="Digite el apellido" required>
                        </div>
                        <div class="form-group text-left">
                            <label>Dui:</label>
                            <input type="text" class="form-control border border-dark" id="proveedor" name="duiProveedor"
                                autocomplete="off" placeholder="Digite el dui" required>
                        </div>
                        <div class="form-group text-left">
                            <label>Direccion:</label>
                            <input type="text" class="form-control border border-dark" id="proveedor" name="direccionProveedor"
                                autocomplete="off" placeholder="Digite la direccion" required>
                        </div>
                        <div class="form-group text-left">
                            <label>Telefono:</label>
                            <input type="text" class="form-control border border-dark" id="proveedor" name="telefonoProveedor"
                                autocomplete="off" placeholder="Digite el telefono" required>
                        </div>
                        <div class="form-group text-left">
                            <label>Correo:</label>
                            <input type="text" class="form-control border border-dark" id="proveedor" name="correoProveedor"
                                autocomplete="off" placeholder="Digite el correo">
                        </div>
                        <hr class="border border-dark">
                        <div class="text-center form-group mt-4">                    
                            <input type="submit" class="btn btn-success" value="Guardar">
                            <input class="btn btn-primary" type="reset" value="Limpiar">
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>