<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="/layouts/layout::plantilla">

<head>
    <title th:fragment="titulo">VISTA LISTAR ROLES</title>
</head>

<body>

    <div class="container" th:fragment="content">
        <h1 class="text-center mt-2 mb-2">LISTADO DE ROLES</h1>
        <h1 th:if="${items.size()==0}" style="margin-top: 35px; text-align: center;">No hay datos para mostrar</h1>
        <div style="text-align: right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarRol">Agregar Nuevo</button>
        </div> 
        <hr> 
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table border border-dark" id="datos" th:if="${items.size()>0}" style="color: black; text-align: center; width: 99%; float: none; margin-left: 1%">
                <thead class="thead-dark">
                    <tr>
                        <th>Rol</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="i:${items}">
                        <td th:text="${i.nombreRol}"></td>
                        <td>
                            <a name="editar" id="editar" class="btn btn-primary"
                                th:href="@{'/rol/modificar/' + ${i.idRol}}" role="button">Editar</a>
                        <td>
                            <form th:action="@{vistaEliminar}" method="post">
                                <input type="hidden" name="option" value="eliminar">
                                <input type="hidden" name="idRol" th:value="${i.idRol}">
                                <input type="hidden" name="nombreRol" th:value="${i.nombreRol}">
                                <input type="submit" value="Eliminar" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--MODAL AGREGAR ROL-->
        <div class="modal fade" id="agregarRol">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!--MODAL HEADER-->
                    <div class="modal-header p-3 mb-2 bg-dark text-white">
                        <h6 class="modal-title">NUEVO ROL</h6>
                        <button type="button" class="close text-white" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    </div>

                    <!--MODAL BODY-->
                    <div class="modal-body">
                        <form th:action="@{/rol/agregar}" method="post" class="text-center">
                            <div class="form-group text-left">
                                <label class="">Rol:</label>
                                <input type="text" class="form-control border border-dark" id="rol" name="nombreRol"
                                    autocomplete="off" placeholder="Digite el rol" required autofocus>
                            </div>

                            <div class="text-center form-group mt-4">
                                <hr class="border border-dark">
                                <input type="submit" class="btn btn-success" value="Guardar">
                                <input class="btn btn-primary" type="reset" value="Limpiar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--
    <script>
        /*//configuracion de data table
        $(document).ready(function () {
            $('#tablas').DataTable({
                //agregando todo a idioma espaniol
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },

            });
        });

        $(document).ready(function () {
            $('#tablas').DataTable({
                
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
            });
            $('.dataTables_length').addClass('bs-select');
        });*/

    </script>-->


</body>

</html>