<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/layout::plantilla">

<head>
	<title th:fragment="titulo">Vista Modificar Producto</title>
</head>

<body>
	<div class="container" th:fragment="content">
		<h1 class="text-center mt-2 mb-2">Modificacion de Producto</h1>
		<form th:action="@{/producto/modificar}" method="post">
			<div class="form-group row border border-dark">
				<input th:value="${item.idProducto}" type="hidden" class="form-control" name="idProducto"
					id="idProducto">
			</div>	
			<div class="form-group row">
				<label for="codigoProducto" class="col-sm-12 col-form-label">Codigo:</label>
				<div class="col-sm-12">
					<input th:value="${item.codigoProducto}" type="text" class="form-control border border-dark" name="codigoProducto"
						id="codigoProducto" placeholder="Digite el codigo" autocomplete="off" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="nombreProducto" class="col-sm-12 col-form-label">Producto:</label>
				<div class="col-sm-12">
					<input th:value="${item.nombreProducto}" type="text" class="form-control border border-dark" name="nombreProducto"
						id="nombreProducto" placeholder="Digite el producto" autocomplete="off" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="presentacion" class="col-sm-12 col-form-label">Presentacion:</label>
				<div class="col-sm-12">
					<input th:value="${item.presentacion}" type="text" class="form-control border border-dark" name="presentacion"
						id="presentacion" placeholder="Digite la presentacion" autocomplete="off" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="precioCompra" class="col-sm-12 col-form-label">Precio Compra:</label>
				<div class="col-sm-12">
					<input th:value="${item.precioCompra}" type="text" class="form-control border border-dark" name="precioCompra"
						id="precioCompra" placeholder="Digite el precio de compra" autocomplete="off">
				</div>
			</div>
			<div class="form-group row">
				<label for="precioVenta" class="col-sm-12 col-form-label">Precio Venta:</label>
				<div class="col-sm-12">
					<input th:value="${item.precioVenta}" type="text" class="form-control border border-dark" name="precioVenta"
						id="precioVenta" placeholder="Digite el precio de venta" autocomplete="off">
				</div>
			</div>
			<div class="form-group row">
				<label for="existencia" class="col-sm-12 col-form-label">Existencias:</label>
				<div class="col-sm-12">
					<input th:value="${item.existencia}" type="number" class="form-control border border-dark" name="existencia"
						id="existencia" placeholder="Digite las existencias" autocomplete="off">
				</div>
			</div>
			<div class="form-group row">
				<label for="estado" class="col-sm-12 col-form-label">Estado:</label>
				<div class="col-sm-12">
					<select name="estado" id="estado" class="form-control border border-dark">
						<option value="Activo">Activo</option>
						<option value="Inactivo">Inactivo</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="nombreCategoria" class="col-sm-12 col-form-label">Categoria:</label>
				<div class="col-sm-12">
					<select name="idCategoria" id="idCategoria" class="form-control border border-dark">
						<option th:each="i:${nombreCategorias}" th:value="${i.idCategoria}" th:text="${i.nombreCategoria}"></option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="nombreMarca" class="col-sm-12 col-form-label">Marca:</label>
				<div class="col-sm-12">
					<select name="idMarca" id="idMarca" class="form-control border border-dark">
						<option th:each="i:${nombreMarcas}" th:value="${i.idMarca}" th:text="${i.nombreMarca}"></option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-success">Guardar</button>
				<a name="cancelar" id="cancelar" class="btn btn-danger" href="/producto/index"
					role="button">Cancelar</a>
			</div>
		</form>
	</div>
</body>

</html>